treechildren::-moz-tree-image(modules_markergmaps_position){
	list-style-image: url(/changeicons/small/map-position.png) ;
}
treechildren::-moz-tree-image(modules_markergmaps_markergmaps){
	list-style-image: url(/changeicons/small/googlemaps.png) ;
}
treechildren::-moz-tree-image(modules_markergmaps_preferences){
	list-style-image: url(/changeicons/small/googlemaps.png) ;
}
treechildren::-moz-tree-image(modules_markergmaps_map){
	list-style-image: url(/changeicons/small/googlemaps.png);
}
