treechildren::-moz-tree-image(modules_markergmaps_position){
	list-style-image: url(/changeicons/small/map-position.png) ;
}
treechildren::-moz-tree-image(modules_markergmaps_markergmaps){
	list-style-image: url(/changeicons/small/googlemaps.png) ;
}
treechildren::-moz-tree-image(modules_markergmaps_preferences){
	list-style-image: url(/changeicons/small/googlemaps.png) ;
}
treechildren::-moz-tree-image(modules_markergmaps_map){
	list-style-image: url(/changeicons/small/googlemaps.png);
}

treechildren::-moz-tree-image(modules_markergmaps_element){
	list-style-image: url(/changeicons/small/document.png);
}
treechildren::-moz-tree-image(modules_markergmaps_ground){
	list-style-image: url(/changeicons/small/chart_line.png);
}
treechildren::-moz-tree-image(modules_markergmaps_polyline){
	list-style-image: url(/changeicons/small/chart_line.png);
}
treechildren::-moz-tree-image(modules_markergmaps_gmarker){
	list-style-image: url(/changeicons/small/map-position.png);
}
treechildren::-moz-tree-image(modules_markergmaps_polygon){
	list-style-image: url(/changeicons/small/chart_line.png);
}