<div tal:omit-tag="" tal:condition="positions">
		<ul class="position-list normal" tal:condition="showpositionslist">
			<li tal:repeat="position positions"><a href="javascript:centerMapOnPoint(${repeat/position/index})" class="link" tal:content="position/getLabel"/></li>
		</ul>

		<p tal:condition="folder" tal:omit-tag=""><p tal:omit-tag="" tal:define="global folderid folder/getId"/></p>
		<p tal:condition="not: folder" tal:omit-tag=""><p tal:omit-tag="" tal:define="global folderid php: rand(100,1000)"/></p>
		<div tal:attributes="id php: 'gmaps' . folderid" style="overflow:hidden"/>
		<tal:block tal:condition="gpsexport">

			<span class="gps-export">
				<tal:block change:translate="&amp;modules.markergmaps.frontoffice.GpsExportMultipleLabel;"/>
				<a change:link="module markergmaps; action ExportGpsOv2; cmpref folderid" change:translate="&amp;modules.markergmaps.frontoffice.GpsExportOv2;"></a>
				-
				<a change:link="module markergmaps; action ExportGpsGpx; cmpref folderid" change:translate="&amp;modules.markergmaps.frontoffice.GpsExportGpx;"></a>
			</span>

		</tal:block>
		<script type="text/javascript">
		//<![CDATA[
		if (typeof(googleMapsScriptIncluded) == 'undefined')
		{
			googleMapsScriptIncluded = true;
			document.write(unescape('%3Cscript src="' + '${php: GmapsHelper::getGmapsUrlForCurrentWebsite()}' + '" type="text/javascript"%3E%3C/script%3E'));
		}
		//]]>
		</script>
		 	<script type="text/javascript">
      if (GBrowserIsCompatible())
      {
      	var markergmaps_id${folderid} = "gmaps" + "${folderid}";
      	var markergmaps_width${folderid} = parseInt(${width});
      	var markergmaps_height${folderid} = parseInt(${height});
      	var markergmaps_allpoints${folderid} = [];
				var markergmaps_allhtml${folderid} = [];

      	if(markergmaps_width${folderid}!='' && markergmaps_height${folderid}!='')
      	{
        	var markergmaps_map${folderid} = new GMap2(document.getElementById(markergmaps_id${folderid}), {size: new GSize(markergmaps_width${folderid}, markergmaps_height${folderid})});
      	}
      	else
      	{
      		var markergmaps_map${folderid} = new GMap2(document.getElementById(markergmaps_id${folderid}));
      	}

        markergmaps_map${folderid}.enableScrollWheelZoom();
				markergmaps_map${folderid}.addControl(new GSmallMapControl());
				markergmaps_map${folderid}.addControl(new GMapTypeControl());

				GEvent.addListener(markergmaps_map${folderid}, "load", function()
				{
					if(markergmaps_width${folderid}=="" && markergmaps_height${folderid}!="")
					{
						jQuery('#'+markergmaps_id${folderid}).attr('style', 'position:relative; overflow:hidden; height:'+markergmaps_height${folderid}+'px;');
					}
					<p tal:repeat="position positions" tal:omit-tag="">
						var markergmaps_customIcon${folderid}${position/getId} = new GIcon(G_DEFAULT_ICON);
						markergmaps_customIcon${folderid}${position/getId}.image = "${php: GmapsHelper::getGoogleIconsUrl()}" + "${position/getColormarker}";
						markergmaps_customIcon${folderid}${position/getId}.iconSize = new GSize(32, 32);

						var markergmaps_options${folderid}${position/getId} = { draggable: false, bouncy: false, icon: markergmaps_customIcon${folderid}${position/getId} };

						var markergmaps_point${folderid}${position/getId} = new GLatLng(${position/getLatitude}, ${position/getLongitude});

						var markergmaps_marker${folderid}${position/getId} = new GMarker(markergmaps_point${folderid}${position/getId}, markergmaps_options${folderid}${position/getId});

						markergmaps_map${folderid}.addOverlay(markergmaps_marker${folderid}${position/getId});

						markergmaps_allpoints${folderid}.push(markergmaps_point${folderid}${position/getId});


						markergmaps_title${folderid}${position/getId} = "<p tal:omit-tag='' tal:content='php: addslashes(position->getLabel())'/>";
						markergmaps_link${folderid}${position/getId} = "<p tal:replace='php: links[repeat.position.key]'/>";
						markergmaps_address${folderid}${position/getId} = "<p tal:omit-tag='' tal:content='position/getFullDescription'/>";
						markergmaps_icon${folderid}${position/getId} = "<p tal:replace='php: icons[repeat.position.key]'/>";

						var markergmaps_html${folderid}${position/getId} = '';
						if(markergmaps_title${folderid}${position/getId}!='')
						{
							if(markergmaps_icon${folderid}${position/getId}!='')
							{
								markergmaps_html${folderid}${position/getId} += '<img class="gmaps-bullet-icon" src="'+markergmaps_icon${folderid}${position/getId}+'"/>';
							}
							markergmaps_html${folderid}${position/getId} += '<strong class="gmaps-bullet-title">';
							if(markergmaps_link${folderid}${position/getId}!='')
							{
								markergmaps_html${folderid}${position/getId} += '<a href="'+markergmaps_link${folderid}${position/getId}+'">';
							}
							markergmaps_html${folderid}${position/getId} += markergmaps_title${folderid}${position/getId};
							if(markergmaps_link${folderid}${position/getId}!='')
							{
								markergmaps_html${folderid}${position/getId} += '</a>';
							}
							markergmaps_html${folderid}${position/getId} += '</strong>';
						}
						if(markergmaps_address${folderid}${position/getId}!='')
						{
							markergmaps_html${folderid}${position/getId} += '<div class="gmaps-bullet-address">'+markergmaps_address${folderid}${position/getId}+'</div>';
						}
						markergmaps_allhtml${folderid}.push(markergmaps_html${folderid}${position/getId});

						GEvent.addListener(markergmaps_marker${folderid}${position/getId}, "click", function()
						{

							markergmaps_map${folderid}.openInfoWindowHtml(markergmaps_point${folderid}${position/getId}, markergmaps_allhtml${folderid}[${repeat/position/index}], {autoScroll:true});
						});
					</p>
				});

      	markergmaps_map${folderid}.setCenter(new GLatLng(0,0), 0);
        var markergmaps_polygon${folderid} = new GPolygon(markergmaps_allpoints${folderid});
        var markergmaps_bounds${folderid} = markergmaps_polygon${folderid}.getBounds();
				var markergmaps_zoom${folderid} = markergmaps_map${folderid}.getBoundsZoomLevel(markergmaps_bounds${folderid});
       	markergmaps_map${folderid}.setCenter(markergmaps_bounds${folderid}.getCenter(), --markergmaps_zoom${folderid});

       	markergmaps_maxwidth${folderid} = parseInt(${maxwidth});
       	markergmaps_maxheight${folderid} = parseInt(${maxheight});

       	function maximizeMap${folderid}()
       	{
       		markergmaps_map${folderid}.savePosition();
       		jQuery('#'+markergmaps_id${folderid}).parent().attr('style', 'float:left; overflow:hidden; width:'+markergmaps_maxwidth${folderid}+'px;');
       		jQuery('#'+markergmaps_id${folderid}).attr('style', 'position:relative; overflow:hidden; height:'+markergmaps_maxheight${folderid}+'px;');
       		markergmaps_map${folderid}.checkResize();
       		markergmaps_map${folderid}.returnToSavedPosition();
       		jQuery('#gmaps-max-'+markergmaps_id${folderid}).hide();
       		jQuery('#gmaps-min-'+markergmaps_id${folderid}).show();
       	}
       	function minimizeMap${folderid}()
       	{
       		markergmaps_map${folderid}.savePosition();
       		jQuery('#'+markergmaps_id${folderid}).parent().attr('style', 'float:left; overflow:hidden; width:'+markergmaps_width${folderid}+'px;');
       		jQuery('#'+markergmaps_id${folderid}).attr('style', 'position:relative; overflow:hidden; height:'+markergmaps_height${folderid}+'px;');
       		markergmaps_map${folderid}.checkResize();
       		markergmaps_map${folderid}.returnToSavedPosition();
       		jQuery('#gmaps-min-'+markergmaps_id${folderid}).hide();
       		jQuery('#gmaps-max-'+markergmaps_id${folderid}).show();
       	}
       	if(!isNaN(markergmaps_maxwidth${folderid}) && !isNaN(markergmaps_maxheight${folderid}))
       	{
       		jQuery('#'+markergmaps_id${folderid}).after('<p class="gmaps-link" id="gmaps-min-'+markergmaps_id${folderid}+'"><a href="javascript:minimizeMap${folderid}()" i18n:translate="&modules.markergmaps.frontoffice.Minimize-map;"/></p>');
       		jQuery('#'+markergmaps_id${folderid}).after('<p class="gmaps-link" id="gmaps-max-'+markergmaps_id${folderid}+'"><a href="javascript:maximizeMap${folderid}()" i18n:translate="&modules.markergmaps.frontoffice.Maximize-map;"/></p>');
       		jQuery('#gmaps-min-'+markergmaps_id${folderid}).hide();
       	}

       	function centerMapOnPoint(positionId)
       	{
       		markergmaps_map${folderid}.setCenter( markergmaps_allpoints${folderid}[positionId]);
       		markergmaps_map${folderid}.openInfoWindowHtml(markergmaps_allpoints${folderid}[positionId], markergmaps_allhtml${folderid}[positionId], {autoScroll:true});
       	}
      }
    </script>
</div>
