<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<script tal:replace="js"></script>
  	<script tal:attributes="src url" type="text/javascript"></script>
  	<script type="text/javascript">
	  function initialize()
    {
      if (GBrowserIsCompatible())
      {
      	var address = "${address}";

	      var map = new GMap2(document.getElementById("maps"));
	      map.addMapType(G_PHYSICAL_MAP);

	      map.enableScrollWheelZoom();
	      map.addControl(new GLargeMapControl3D());
	      map.addControl(new GMapTypeControl());

			  eval('obj = ['+ document.getElementById('points').value +'];');
			  var polygon = new GPolygon(obj, "#${color}", ${weight}, ${opacity}, "#${fillcolor}", ${fillopacity});
			  map.addOverlay(polygon);
			  var zoomed = false;
			  if(obj.length)
			  {
			  	var center = polygon.getBounds();
			  	zoom = map.getBoundsZoomLevel(center);
			  	map.setCenter(center.getCenter(), zoom);
			  	zoomed = true;
			  }

			  overlays = [];
				<tal:block tal:repeat="e elements" tal:replace="php: e->getFrontofficeCode('map', 'overlays')"/>
				for(i in overlays)
				{
					overlays[i].hide();
				}

			  if(address != "")
			  {
			  	var geocoder = new GClientGeocoder();
			  	geocoder.getLatLng(address, function(point){
			  		map.setCenter(point, 12);
			  	});
			  }

			 	polygon.enableDrawing();
			  polygon.enableEditing({onEvent: "mouseover"});
			  polygon.disableEditing({onEvent: "mouseout"});

			  GEvent.addListener(polygon, "lineupdated", function() {
			  	allpoints = '';
			  	for(i=0; i < this.getVertexCount(); i++)
			  	{
			  		allpoints += 'new GLatLng' + this.getVertex(i) + ", ";
			  	}
			  	document.getElementById('points').value = allpoints.substr(0, allpoints.length-2);
			  });

			  GEvent.addListener(polygon, "endline", function() {
			    GEvent.addListener(polygon, "click", function(latlng, index) {
			      if (typeof index == "number") {
			        polygon.deleteVertex(index);
			      }
			    });
			  });

			  if(zoomed == false)
				{
		      geocoder = new GClientGeocoder();
		      geocoder.getLatLng("${country}", function(center)
					{
			      if(center)
			      {
			      	map.setCenter(center, 5);
			      }
			      else
			      {
			      	map.setCenter(new GLatLng(0, 0), 1);
			      }
		      });
				}
      }
    }
    $(function(){
			$(".gmapsoverlay").click(function(){
				m = $(this).attr('m');
				n = $(this).attr('n');
				if($(this).is(':checked')) { eval(m + '[' + n + '].show();'); }
				else { eval(m + '[' + n + '].hide();');  }
			});
		});
    </script>
  </head>
  	<body onload="initialize()" onunload="GUnload()" marginheight="0" marginwidth="0" leftmargin="0" topmargin="0">
		<div id="maps" style="width: 600px; height: 400px; float:left;"></div>
		<input type="hidden" id="points" value="${points}"/>
		<div style="margin-left:15px; float:left; max-width:150px; max-height:350px; overflow:auto;" tal:condition="php: count(elements)">
			<strong i18n:translate="&modules.markergmaps.bo.general.List;"/>
			<ul style="padding-left:0;">
				<p tal:omit-tag=""  tal:repeat="e elements">
				<li tal:condition="e/isDefined" style="list-style-type:none;">
					<input tal:condition="not: map/getDisplayall" type="checkbox" class="gmapsoverlay" m="overlays" n="${repeat/e/index}" id="o${e/getId}" />
					<label for="o${e/getId}" tal:content="e/getLabel"/>
				</li>
				</p>
			</ul>
		</div>
	</body>
</html>
